.container-left {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 900px) {
    height: 60%;
    justify-content: center;
  }

  @media screen and (max-height: 600px) {
    height: 80%;
    position: relative;
    top: 5%;
  }
}

.invite-header {
  margin-top: 7rem;
  margin-bottom: 1rem;
  z-index: 200;

  @media screen and (max-width: 900px) {
    margin-top: 1rem;
  }

  &-text {
    font-family: "Alike", serif;
    font-size: 18px;
    color: var(--text-color-1);

    @media screen and (max-width: 1200px) {
      font-size: 16px;
    }

    @media screen and (max-width: 900px) {
      font-size: 12px;
      position: relative;
    }
  }
}

.names-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    .marrier-name {
      font-family: "Alex Brush", cursive;
      font-size: 44px;
      white-space: nowrap;
      color: var(--text-color-1);

      @media screen and (max-width: 1200px) {
        font-size: 42px;
      }

      @media screen and (max-width: 900px) {
        font-size: 36px;
      }

      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }

    .parent-names {
      font-family: "Alike", serif;
      font-size: 16px;
      position: relative;
      top: -12px;
      color: var(--text-color-1);

      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }

      @media screen and (max-width: 900px) {
        font-size: 10px;
        position: relative;
        top: -8px;
      }
    }
  }

  .names-box-bride {
    margin-bottom: 12%;

    @media screen and (max-width: 900px) {
      margin-bottom: -1.2rem;
    }
  }

  .ampersand {
    margin-top: 1rem;
    font-family: "Alex Brush", cursive;
    font-size: 36px;
    color: var(--text-color-1);

    @media screen and (max-width: 768px) {
      font-size: 20px;
      margin-top: 0;
    }
  }
}

.event-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  min-height: 10rem;

  @media screen and (max-width: 900px) {
    margin-bottom: 0rem;
  }

  &-text {
    font-family: "Alike", serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color-1);

    @media screen and (max-width: 768px) {
      font-size: 12px;
      position: relative;
      top: -1rem;
    }
  }
}

.container-right {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  height: 100%;
}

// MOBILE

.container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.home-container-mobile {
  width: 100%;
  height: 100%;
  margin-top: 70%;

  @media screen and (max-height: 600px) {
    margin-top: 67%;
  }
}

.mobile-graphic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
