.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
}

.guests-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid red;
  width: 80%;
  height: 80%;
}


.accordion-container {
  display: flex;
  flex-direction: column;

  width: 100%;
}


/* Style the buttons that are used to open and close the accordion panel */
.guest-accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px 0;
  
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active-guest, .guest-accordion:hover {
  background-color: #726d6d;
}

/* Style the accordion panel. Note: hidden by default */
.guest-details {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}