.navbar {
  
  width: auto;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  // grid-area: 1 /1 /2/ 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;
  

  &__links {
    display: flex;
    flex-direction: column;

   
 
  }

   &__link {

      margin: .5rem 0;
      
      a {
        text-decoration: none;
        font-family: 'Bona Nova', serif;
        font-size: 2rem;
        margin: 1rem 0;
        color: #636361;
        transition: all 0.3s ease-in-out;


       
      }

    

    }
}
