.navbar {
  width: auto;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  // grid-area: 1 /1 /2/ 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__link {
    margin: 0.5rem 0;
    @media screen and (max-width: 1200px) {
      margin: 0.5rem 2rem;
    }

    a {
      text-decoration: none;
      font-family: "Bona Nova", serif;
      font-size: 2rem;
      margin: 1rem 0;
      color: #636361;
      transition: all 0.3s ease-in-out;
      position: relative;
      
      @media screen and (max-width: 1200px) {
        font-size: 1.5rem;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #636361;
        transition: width 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.activeLink {
  position: relative;
 border-bottom: 1px solid #636361;
 transition: width 0.3s ease-in-out;
}
