/* LoadingPage.css */
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f3f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.7s;

  h1 {
    font-family: "Bona Nova", serif;
    margin-top: 2rem;
    font-size: 2rem;
    color: var(--text-color-1);
  }
}

.loading-page.fade-out {
  opacity: 0;
  pointer-events: none;
}

.loading-logo {
  width: 18rem;
}

#load-button {
  position: relative;
  margin-top: 2rem;
  padding: 10px 1.5rem;
  font-size: 1rem;
  border: 1px solid var(--ui-stroke-1);
  color: var(--text-color-1);
  font-family: "Alike", serif;
      font-size: 18px;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    background-color: var(--text-color-1);
    color: var(--ui-stroke-1);
  }
}