.story-container {
    margin-top: 11rem;
    margin-left: -2rem;
    text-align: start;
    font-family: "Alike", serif;
    z-index: 9999;
}


.story-container-mobile {
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 6px;
    width: 80%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 12rem;
    text-align: start;
    font-family: "Alike", serif;
    z-index: 95;
    background-color: rgba(173, 179, 162, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}