*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

.left-plant {
  position: fixed; /* This keeps the image in a fixed position as the user scrolls */
  top: -10%; /* This positions the image at the top of the viewport */
  left: 0; /* This positions the image at the left edge of the viewport */
  height: 125%; /* Adjust the height to your preference, e.g., 80% */
  width: auto; /* This maintains the aspect ratio of the image as the height changes */
  pointer-events: none; /* This prevents the user from clicking on the image */
  visibility: hidden;
  z-index: 5;
}

.wind-leaves {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;

}



.plants-container-mobile {
  width: 100vw;
  height: 125%;
  overflow: hidden;
  position: absolute;
  pointer-events: none;

}
.left-plant-mobile {
  position: absolute; /* This keeps the image in a fixed position as the user scrolls */
  top: -10%; /* This positions the image at the top of the viewport */
  left: -10%; /* This positions the image at the left edge of the viewport */
  height: 92%; /* Adjust the height to your preference, e.g., 80% */
  width: auto; /* This maintains the aspect ratio of the image as the height changes */
  pointer-events: none; /* This prevents the user from clicking on the image */
  z-index: -1;
}

.plants-container-mobile-2 {
  width: 100vw;
  height: 125%;
  z-index: -1;
  position: absolute;
  pointer-events: none;
}

.graphic-resize {
  height: 100%;
}

.left-plant-mobile-2 {
  position: absolute; /* This keeps the image in a fixed position as the user scrolls */
  top: 52%; /* This positions the image at the top of the viewport */
  right: 0%; /* This positions the image at the left edge of the viewport */
  height: 118%; /* Adjust the height to your preference, e.g., 80% */
  width: auto; /* This maintains the aspect ratio of the image as the height changes */
  pointer-events: none; /* This prevents the user from clicking on the image */

  transform: scaleX(-1);
  z-index: -1;
}

.wind-leaves-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}