:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.87);
  
  --text-color-1: #535351;
  --text-color-2: rgba(200, 200, 188, 0.8);
  --ui-color-1: #636361;
  --ui-stroke-1: #BCBCB5;
  --ui-stroke-2: #949289;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}


html, body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;

  
  
 
}


body {
 background-color: #f4f3f0;
  background-image: url('./assets/floralbackground1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat
  

}




.fade-in {

  animation: fadein 2s linear;

}

@keyframes fadein {

  from { 
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}



audio {
  display:none !important;
  
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.enter-button {
  padding: 10px 30px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: var(--text-color-2);
  border: 1px solid var(--text-color-1);
  border-radius: 3px;
  margin-top: 3rem;
}